Repository KyleGough/portfolio, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, vscode, readme, component, font, icon, img, videos, hooks, frontend, tailwind, lint, config

Upgrade packages
  package-lock.json
  package.json
Labels: config

Upgrade packages (#71)
  package-lock.json
  package.json
Labels: config

AI Space Telescope project page
  public/img/ai-space-telescope1.jpg
  src/data/Project.ts
  src/index.tsx
  src/pages/Projects/__snapshots__/Projects.test.tsx.snap
  src/pages/projects/AISpaceTelescope/AISpaceTelescope.test.tsx
  src/pages/projects/AISpaceTelescope/AISpaceTelescope.tsx
  src/pages/projects/AISpaceTelescope/__snapshots__/AISpaceTelescope.test.tsx.snap
  src/pages/projects/AISpaceTelescope/images.json
  src/pages/projects/AISpaceTelescope/index.ts
  src/pages/projects/BookmarkLabeller/BookmarkLabeller.tsx
Labels: frontend

AI Space Telescope project page (#72)
  public/img/ai-space-telescope1.jpg
  src/data/Project.ts
  src/index.tsx
  src/pages/Projects/__snapshots__/Projects.test.tsx.snap
  src/pages/projects/AISpaceTelescope/AISpaceTelescope.test.tsx
  src/pages/projects/AISpaceTelescope/AISpaceTelescope.tsx
  src/pages/projects/AISpaceTelescope/__snapshots__/AISpaceTelescope.test.tsx.snap
  src/pages/projects/AISpaceTelescope/images.json
  src/pages/projects/AISpaceTelescope/index.ts
  src/pages/projects/BookmarkLabeller/BookmarkLabeller.tsx
Labels: frontend

Project card for AI space gallery
  src/pages/Home/Home.tsx
  src/pages/Home/__snapshots__/Home.test.tsx.snap
Labels: frontend

Project card for AI space gallery (#73)
  src/pages/Home/Home.tsx
  src/pages/Home/__snapshots__/Home.test.tsx.snap
Labels: frontend

Add domain check workflow
  .github/workflows/domain_check.yml
Labels: ci

Add domain check workflow (#74)
  .github/workflows/domain_check.yml
Labels: ci

Remove wf, as doesn't work for .co.uk domains
  .github/workflows/domain_check.yml
Labels: ci

Remove wf, as doesn't work for .co.uk domains (#75)
  .github/workflows/domain_check.yml
Labels: ci

Updated package.json
  package-lock.json
  package.json
Labels: config

Updated package.json (#76)
  package-lock.json
  package.json
Labels: config

[ImgBot] Optimize images
  public/img/ai-space-telescope1.jpg
  public/img/atom.png
  public/img/bofa.png
  public/img/bookmark-labeller-folder.jpg
  public/img/bookmark-labeller.jpg
Labels: none

Project card remove tagline
  README.md
  src/components/Nav/Nav.tsx
  src/components/ProjectCard/ProjectCard.test.tsx
  src/components/ProjectCard/ProjectCard.tsx
  src/components/ProjectCard/__snapshots__/ProjectCard.test.tsx.snap
  src/data/Project.ts
  src/pages/Home/Home.tsx
  src/pages/Home/__snapshots__/Home.test.tsx.snap
  src/pages/projects/AISpaceTelescope/__snapshots__/AISpaceTelescope.test.tsx.snap
  src/pages/projects/Portfolio/__snapshots__/Portfolio.test.tsx.snap
Labels: readme, component, frontend

Project card remove tagline (#79)
  README.md
  src/components/Nav/Nav.tsx
  src/components/ProjectCard/ProjectCard.test.tsx
  src/components/ProjectCard/ProjectCard.tsx
  src/components/ProjectCard/__snapshots__/ProjectCard.test.tsx.snap
  src/data/Project.ts
  src/pages/Home/Home.tsx
  src/pages/Home/__snapshots__/Home.test.tsx.snap
  src/pages/projects/AISpaceTelescope/__snapshots__/AISpaceTelescope.test.tsx.snap
  src/pages/projects/Portfolio/__snapshots__/Portfolio.test.tsx.snap
Labels: readme, component, frontend

Added React filter to ai-space-telescope project data
  src/data/Project.ts
Labels: frontend

Added React filter to ai-space-telescope project data (#80)
  src/data/Project.ts
Labels: frontend

Removed Heroku from README
  README.md
Labels: readme

Removed Heroku from README (#81)
  README.md
Labels: readme

Integrated dayjs
  package-lock.json
  package.json
  src/components/ProjectCard/ProjectCard.test.tsx
  src/components/ProjectCard/ProjectCard.tsx
  src/components/ProjectHeader/ProjectHeader.test.tsx
  src/components/ProjectHeader/ProjectHeader.tsx
  src/components/ProjectItem/ProjectItem.test.tsx
  src/data/Project.ts
  src/data/index.ts
  src/pages/Home/Home.tsx
  src/utilities/date.test.tsx
  src/utilities/date.ts
Labels: component, frontend, config

Integrated dayjs (#82)
  package-lock.json
  package.json
  src/components/ProjectCard/ProjectCard.test.tsx
  src/components/ProjectCard/ProjectCard.tsx
  src/components/ProjectHeader/ProjectHeader.test.tsx
  src/components/ProjectHeader/ProjectHeader.tsx
  src/components/ProjectItem/ProjectItem.test.tsx
  src/data/Project.ts
  src/data/index.ts
  src/pages/Home/Home.tsx
  src/utilities/date.test.tsx
  src/utilities/date.ts
Labels: component, frontend, config

Reduced README logo images from 60px to 45px
  README.md
Labels: readme

Reduced README logo images from 60px to 45px (#83)
  README.md
Labels: readme

Update React logo to non-wordmarked version
  README.md
Labels: readme

Update React logo to non-wordmarked version (#84)
  README.md
Labels: readme

Modify CSP to allow Vercel
  server.js
Labels: none

Vercel.json
  server.js
  vercel.json
Labels: none

Vercel.json
  vercel.json
Labels: none

Vercel.json
  vercel.json
Labels: none

Vercel.json
  api/index.js
  vercel.json
Labels: none

Vercel.json
  vercel.json
Labels: none

Removed react-router-dom from tests
  components/Footer/Footer.test.tsx
  components/Link/Link.test.tsx
  components/Nav/Nav.test.tsx
  components/Pagination/Pagination.test.tsx
  components/ProjectCard/ProjectCard.test.tsx
  components/ScrollTop.ts
  mocks/mockIntersectionObserver.ts
Labels: none

Moved files, added next/image to Skill component
  components/ImageModal/ImageModal.tsx
  components/Link/Link.tsx
  components/SkillList/Skill/Skill.tsx
  fonts/Lato-Regular.ttf
  fonts/Merriweather-Regular.ttf
  pages/404.tsx
  src/index.css
  src/pages/404/404.test.tsx
  src/pages/404/404.tsx
  src/pages/404/__snapshots__/404.test.tsx.snap
  src/pages/404/index.ts
  src/react-app-env.d.ts
Labels: frontend

Upgraded some images to use next/image, updated packages
  .eslintrc.json
  components/LabelledLogo/LabelledLogo.tsx
  components/ProjectItem/ProjectItem.test.tsx
  components/ProjectItem/ProjectItem.tsx
  components/SkillList/Skill/Skill.tsx
  package-lock.json
  package.json
  pages/index.tsx
  pages/projects/bookmark-labeller.tsx
Labels: lint, config

Head links fixed
  components/Layout/Layout.tsx
Labels: none

Move css to styles, cleaned up files and configs
  .eslintrc.json
  package.json
  pages/_app.tsx
  public/index.html
  src/reportWebVitals.ts
  src/setupTests.ts
  styles/index.css
  styles/tailwind.css
Labels: frontend, lint, config

Setup Jest and updated snapshots
  .eslintignore
  components/Footer/__snapshots__/Footer.test.tsx.snap
  components/GoalListItem/__snapshots__/GoalListItem.test.tsx.snap
  components/LabelledLogo/__snapshots__/LabelledLogo.test.tsx.snap
  components/ProjectCard/__snapshots__/ProjectCard.test.tsx.snap
  components/ProjectItem/__snapshots__/ProjectItem.test.tsx.snap
  components/SkillList/Skill/__snapshots__/Skill.test.tsx.snap
  jest.config.js
  package-lock.json
  package.json
  setupTests.js
Labels: lint, config

Setup Jest and updated snapshots (#87)
  .eslintignore
  components/Footer/__snapshots__/Footer.test.tsx.snap
  components/GoalListItem/__snapshots__/GoalListItem.test.tsx.snap
  components/LabelledLogo/__snapshots__/LabelledLogo.test.tsx.snap
  components/ProjectCard/__snapshots__/ProjectCard.test.tsx.snap
  components/ProjectItem/__snapshots__/ProjectItem.test.tsx.snap
  components/SkillList/Skill/__snapshots__/Skill.test.tsx.snap
  jest.config.js
  package-lock.json
  package.json
  setupTests.js
Labels: lint, config

Unit test for FooterLink
  components/Footer/FooterLink/FooterLink.test.tsx
  components/Footer/FooterLink/__snapshots__/FooterLink.test.tsx.snap
Labels: none

Alt text for project language logo
  components/ProjectItem/ProjectItem.tsx
  data/Project.ts
Labels: none

.github/labeler.yml:

ci:
- .husky/**/*
- .github/**/*.yaml
- .github/**/*.yml

vscode:
- .vscode/**/*

readme:
- README.md

component:
- src/components/**/*

font:
- src/fonts/**/*

icon:
- src/icons/**/*

img:
- src/img/**/*

videos:
- src/videos/**/*

hooks:
- src/hooks/**/*

frontend:
- src/**/*

tailwind:
- src/tailwind.css
- tailwind.config.js

lint:
- .eslintignore
- .eslintrc.json
- .editorconfig
- .prettierrc

config:
- .editorconfig
- .eslintignore
- .eslintrc.json
- .gitignore
- package.json
- package-lock.json
- postcss.config.js
- .prettierrc
- tailwind.config.js
- tsconfig.json
