Repository KyleGough/portfolio, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, snippet, readme, component, frontend, config

.github/labeler.yml:

ci:
- .husky/**/*
- .github/**/*

snippet:
- .vscode/**/*.code-snippets

readme:
- README.md

component:
- src/components/**/*

frontend:
- src/**/*

config:
- .editorconfig
- .eslintignore
- .eslintrc.json
- .gitignore
- package.json
- package-lock.json
- postcss.config.js
- .prettierrc
- tailwind.config.js
- tsconfig.json

Labeler workflow name update
  .github/workflows/labeler.yml
Labels: ci

Fixed broken linting and linted new code
  .eslintrc.json
  .prettierrc
  src/components/Footer/Footer.tsx
  src/components/ProjectFilter/ProjectFilter.test.tsx
  src/components/ProjectHeader/ProjectHeader.test.tsx
  src/components/ProjectItem/ProjectItem.tsx
  src/components/TimelineNode/TimelineNode.test.tsx
  src/components/TimelineNode/TimelineNode.tsx
  src/data/Project.ts
  src/hooks/useObserveElement.tsx
  src/hooks/useTypewriter.tsx
  src/pages/About/SkillsOther.ts
  src/pages/About/SkillsProgramming.ts
  src/pages/About/SkillsWeb.ts
  src/pages/Home/Home.tsx
  src/utilities/date.test.tsx
Labels: component, frontend, config

Fixed broken linting and linted new code (#57)
  .eslintrc.json
  .prettierrc
  src/components/Footer/Footer.tsx
  src/components/ProjectFilter/ProjectFilter.test.tsx
  src/components/ProjectHeader/ProjectHeader.test.tsx
  src/components/ProjectItem/ProjectItem.tsx
  src/components/TimelineNode/TimelineNode.test.tsx
  src/components/TimelineNode/TimelineNode.tsx
  src/data/Project.ts
  src/hooks/useObserveElement.tsx
  src/hooks/useTypewriter.tsx
  src/pages/About/SkillsOther.ts
  src/pages/About/SkillsProgramming.ts
  src/pages/About/SkillsWeb.ts
  src/pages/Home/Home.tsx
  src/utilities/date.test.tsx
Labels: component, frontend, config

Books section
  src/pages/About/About.tsx
Labels: frontend

Books about snapshot
  src/pages/About/__snapshots__/About.test.tsx.snap
Labels: frontend

Added Bookmark Labeller project page
  public/img/bookmark-labeller-folder.jpg
  public/img/bookmark-labeller.jpg
  src/data/Project.ts
  src/index.tsx
  src/pages/About/About.tsx
  src/pages/About/__snapshots__/About.test.tsx.snap
  src/pages/Projects/__snapshots__/Projects.test.tsx.snap
  src/pages/projects/BookmarkLabeller/BookmarkLabeller.test.tsx
  src/pages/projects/BookmarkLabeller/BookmarkLabeller.tsx
  src/pages/projects/BookmarkLabeller/__snapshots__/BookmarkLabeller.test.tsx.snap
  src/pages/projects/BookmarkLabeller/images.json
  src/pages/projects/BookmarkLabeller/index.ts
  src/pages/projects/Portfolio/Portfolio.tsx
  src/pages/projects/Portfolio/__snapshots__/Portfolio.test.tsx.snap
Labels: frontend

Added Bookmark Labeller project page (#58)
  public/img/bookmark-labeller-folder.jpg
  public/img/bookmark-labeller.jpg
  src/data/Project.ts
  src/index.tsx
  src/pages/About/About.tsx
  src/pages/About/__snapshots__/About.test.tsx.snap
  src/pages/Projects/__snapshots__/Projects.test.tsx.snap
  src/pages/projects/BookmarkLabeller/BookmarkLabeller.test.tsx
  src/pages/projects/BookmarkLabeller/BookmarkLabeller.tsx
  src/pages/projects/BookmarkLabeller/__snapshots__/BookmarkLabeller.test.tsx.snap
  src/pages/projects/BookmarkLabeller/images.json
  src/pages/projects/BookmarkLabeller/index.ts
  src/pages/projects/Portfolio/Portfolio.tsx
  src/pages/projects/Portfolio/__snapshots__/Portfolio.test.tsx.snap
Labels: frontend

Removed bookmark labeller size
  src/pages/projects/BookmarkLabeller/BookmarkLabeller.tsx
  src/pages/projects/BookmarkLabeller/__snapshots__/BookmarkLabeller.test.tsx.snap
Labels: frontend

Bookmark labeller download link
  src/img/firefox.svg
  src/pages/projects/BookmarkLabeller/BookmarkLabeller.tsx
  src/pages/projects/BookmarkLabeller/__snapshots__/BookmarkLabeller.test.tsx.snap
Labels: frontend

Bookmark Labeller Install Link (#59)
  src/img/firefox.svg
  src/pages/projects/BookmarkLabeller/BookmarkLabeller.tsx
  src/pages/projects/BookmarkLabeller/__snapshots__/BookmarkLabeller.test.tsx.snap
Labels: frontend

Accessibility - added aria-label to buttons and links without text
  src/components/Footer/Footer.tsx
  src/components/Footer/__snapshots__/Footer.test.tsx.snap
  src/components/Nav/Nav.tsx
  src/components/Nav/__snapshots__/Nav.test.tsx.snap
Labels: component, frontend

Accessibility - added aria-label to buttons and links without text (#60)
  src/components/Footer/Footer.tsx
  src/components/Footer/__snapshots__/Footer.test.tsx.snap
  src/components/Nav/Nav.tsx
  src/components/Nav/__snapshots__/Nav.test.tsx.snap
Labels: component, frontend

CSP to allow GTAG
  public/index.html
  server.js
Labels: none

CSP to allow GTAG (#61)
  public/index.html
  server.js
Labels: none

Fixed CSP text
  server.js
Labels: none

Fixed CSP text (#62)
  server.js
Labels: none

Remove CSP
  server.js
Labels: none

Remove CSP (#63)
  server.js
Labels: none

Re-enable CSP remove GTAG
  public/index.html
  server.js
Labels: none

Re-enable CSP remove GTAG (#64)
  public/index.html
  server.js
Labels: none

Self-host fonts
  public/index.html
  src/fonts/Lato-Regular.ttf
  src/fonts/Merriweather-Regular.ttf
  src/index.css
Labels: frontend

Self-host fonts (#65)
  public/index.html
  src/fonts/Lato-Regular.ttf
  src/fonts/Merriweather-Regular.ttf
  src/index.css
Labels: frontend

Updated Privacy Policy
  src/pages/Privacy/Privacy.tsx
  src/pages/Privacy/__snapshots__/Privacy.test.tsx.snap
Labels: frontend

Updated Privacy Policy (#66)
  src/pages/Privacy/Privacy.tsx
  src/pages/Privacy/__snapshots__/Privacy.test.tsx.snap
Labels: frontend

Replaced custom transition with FadeIn component for ProjectCard
  src/components/ProjectCard/ProjectCard.tsx
  src/components/ProjectCard/__snapshots__/ProjectCard.test.tsx.snap
  src/pages/Home/__snapshots__/Home.test.tsx.snap
Labels: component, frontend

Replaced custom transition with FadeIn component for ProjectCard (#67)
  src/components/ProjectCard/ProjectCard.tsx
  src/components/ProjectCard/__snapshots__/ProjectCard.test.tsx.snap
  src/pages/Home/__snapshots__/Home.test.tsx.snap
Labels: component, frontend

Upgraded packages
  package-lock.json
Labels: config

Upgrade packages (#68)
  package-lock.json
Labels: config
