Repository KyleGough/portfolio, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, vscode, readme, component, font, icon, img, videos, hooks, frontend, tailwind, lint, config

.github/labeler.yml:

ci:
- .husky/**/*
- .github/**/*.yaml
- .github/**/*.yml

vscode:
- .vscode/**/*

readme:
- README.md

component:
- src/components/**/*

font:
- src/fonts/**/*

icon:
- src/icons/**/*

img:
- src/img/**/*

videos:
- src/videos/**/*

hooks:
- src/hooks/**/*

frontend:
- src/**/*

tailwind:
- src/tailwind.css
- tailwind.config.js

lint:
- .eslintignore
- .eslintrc.json
- .editorconfig
- .prettierrc

config:
- .editorconfig
- .eslintignore
- .eslintrc.json
- .gitignore
- package.json
- package-lock.json
- postcss.config.js
- .prettierrc
- tailwind.config.js
- tsconfig.json

Update ProjectItem test props
  components/ProjectItem/ProjectItem.test.tsx
  components/ProjectItem/__snapshots__/ProjectItem.test.tsx.snap
Labels: none

Update test setup
  jest.config.js
  jest.setup.js
  setupTests.js
Labels: none

Remove prebuild from workflow
  .github/workflows/premerge.yml
Labels: ci

Renamed index.css to globals.css
  pages/_app.tsx
  styles/globals.css
Labels: none

Moved project page to project folder as index
  pages/projects/index.tsx
  tsconfig.json
Labels: config

Update Husky pre-commit hook with new test command
  .husky/pre-commit
Labels: ci

Header image fix
  styles/tailwind.css
  tailwind.config.js
Labels: tailwind, config

Added getStaticProps to all project pages, refined project page imports
  .github/workflows/premerge.yml
  .vscode/functional-component.code-snippets
  .vscode/get-static-props.code-snippets
  .vscode/index.code-snippets
  .vscode/project-page.code-snippets
  .vscode/unit-test.code-snippets
  components/ImageFigure/ImageFigure.test.tsx
  components/ImageFigure/ImageFigure.tsx
  components/ProjectItem/ProjectItem.tsx
  components/Screenshots/Screenshots.test.tsx
  components/Screenshots/Screenshots.tsx
  components/SkillList/SkillList.types.ts
  data/index.ts
  pages/about.tsx
  pages/projects/ai-space-telescope.tsx
  pages/projects/bookmark-labeller.tsx
  pages/projects/bsplit.tsx
  pages/projects/cave-exploration.tsx
  pages/projects/cavern-minesweeper.tsx
  pages/projects/delivery-route-planner.tsx
  pages/projects/graph-algorithm-visualiser.tsx
  pages/projects/index.tsx
  pages/projects/lucidlab.tsx
  pages/projects/portfolio.tsx
  pages/projects/react-minesweeper.tsx
  pages/projects/roller-coaster.tsx
  pages/projects/rscbot.tsx
  pages/projects/sorting-algorithm-visualiser.tsx
  pages/projects/sudoku.tsx
  pages/projects/todo-list.tsx
  pages/projects/url-shortener.tsx
  utilities/Project.ts
  utilities/algorithms.json
  utilities/skillsOther.ts
  utilities/skillsProgramming.ts
  utilities/skillsWeb.ts
  utilities/types.ts
Labels: ci, vscode

Refine imports on page components
  pages/404.tsx
  pages/_app.tsx
  pages/about.tsx
  pages/index.tsx
  pages/privacy.tsx
Labels: none

Renamed Skill component to SkillItem
  components/SkillList/Skill/index.ts
  components/SkillList/SkillItem/SkillItem.test.tsx
  components/SkillList/SkillItem/SkillItem.tsx
  components/SkillList/SkillItem/__snapshots__/SkillItem.test.tsx.snap
  components/SkillList/SkillItem/index.ts
  components/SkillList/SkillList.tsx
  components/SkillList/index.ts
Labels: none

Fix import error in ProjectCard
  components/ProjectCard/ProjectCard.tsx
Labels: none

Fix type errors
  components/ProjectHeader/ProjectHeader.test.tsx
  components/ProjectHeader/ProjectHeader.tsx
  utilities/date.test.tsx
  utilities/date.ts
  utilities/skillsOther.ts
  utilities/skillsProgramming.ts
  utilities/skillsWeb.ts
Labels: none

Update Tailwind config to reflect utilities directory
  tailwind.config.js
Labels: tailwind, config

Update image prop to use alt
  components/ImageModal/ImageModal.test.tsx
  components/ImageModal/ImageModal.tsx
  components/Screenshots/Screenshots.tsx
  pages/projects/ai-space-telescope.tsx
  pages/projects/bookmark-labeller.tsx
  pages/projects/bsplit.tsx
  pages/projects/cave-exploration.tsx
  pages/projects/cavern-minesweeper.tsx
  pages/projects/delivery-route-planner.tsx
  pages/projects/graph-algorithm-visualiser.tsx
  pages/projects/lucidlab.tsx
  pages/projects/portfolio.tsx
  pages/projects/react-minesweeper.tsx
  pages/projects/roller-coaster.tsx
  pages/projects/rscbot.tsx
  pages/projects/sorting-algorithm-visualiser.tsx
  pages/projects/sudoku.tsx
  pages/projects/todo-list.tsx
  pages/projects/url-shortener.tsx
Labels: none

Fix extension link
  pages/projects/bookmark-labeller.tsx
Labels: none

Carousel component
  components/Carousel/Carousel.test.tsx
  components/Carousel/Carousel.tsx
  components/Carousel/CarouselImage/CarouselImage.test.tsx
  components/Carousel/CarouselImage/CarouselImage.tsx
  components/Carousel/CarouselImage/__snapshots__/CarouselImage.test.tsx.snap
  components/Carousel/CarouselImage/index.ts
  components/Carousel/__snapshots__/Carousel.test.tsx.snap
  components/Carousel/index.ts
  pages/index.tsx
  utilities/Project.ts
Labels: none

Carousel component (#88)
  components/Carousel/Carousel.test.tsx
  components/Carousel/Carousel.tsx
  components/Carousel/CarouselImage/CarouselImage.test.tsx
  components/Carousel/CarouselImage/CarouselImage.tsx
  components/Carousel/CarouselImage/__snapshots__/CarouselImage.test.tsx.snap
  components/Carousel/CarouselImage/index.ts
  components/Carousel/__snapshots__/Carousel.test.tsx.snap
  components/Carousel/index.ts
  pages/index.tsx
  utilities/Project.ts
Labels: none

Aliases for @utilities, ts, and jest
  .eslintrc.json
  components/Contact/Contact.test.tsx
  components/FadeIn/FadeIn.test.tsx
  components/ProjectCard/ProjectCard.test.tsx
  components/ProjectCard/ProjectCard.tsx
  components/ProjectHeader/ProjectHeader.tsx
  components/ProjectItem/ProjectItem.tsx
  components/SkillList/SkillItem/SkillItem.test.tsx
  components/TimelineNode/TimelineNode.test.tsx
  jest.config.js
  package-lock.json
  package.json
  pages/404.tsx
  tsconfig.json
  utilities/date/date.test.tsx
  utilities/date/date.ts
  utilities/date/index.ts
  utilities/mocks/mockIntersectionObserver.ts
Labels: lint, config

Aliases for @utilities, ts, and jest (#89)
  .eslintrc.json
  components/Contact/Contact.test.tsx
  components/FadeIn/FadeIn.test.tsx
  components/ProjectCard/ProjectCard.test.tsx
  components/ProjectCard/ProjectCard.tsx
  components/ProjectHeader/ProjectHeader.tsx
  components/ProjectItem/ProjectItem.tsx
  components/SkillList/SkillItem/SkillItem.test.tsx
  components/TimelineNode/TimelineNode.test.tsx
  jest.config.js
  package-lock.json
  package.json
  pages/404.tsx
  tsconfig.json
  utilities/date/date.test.tsx
  utilities/date/date.ts
  utilities/date/index.ts
  utilities/mocks/mockIntersectionObserver.ts
Labels: lint, config
